.profile__container {
  width: 100%;
  height: calc(100vh - 74px);
}

.profile__form {
  display: flex;
  flex-direction: column;
  margin: 123px auto 0;
  min-height: 330px;
  justify-content: space-between;
  align-items: center;
}

.profile__title {
  margin: 74px 0 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}

.profile__label {
  display: flex;
  width: 410px;
  padding: 17px 0 0;
  justify-content: space-between;
  align-items: start;
}

.profile__label:first-of-type {
  border-bottom: 1px solid #424242;
  padding: 0 0 17px;
}

.profile__text {
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  padding: 0;
}

.profile__input {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;
  color: #fff;
  outline: none;
}

.profile__input:focus {
  color: #3ddc84;
}

.profile__input::placeholder {
  color: #8b8b8b;
}

.profile__input:invalid {
  color: #ee3465;
}

.profile__input:focus:invalid {
  color: #ee3465;
}

.profile__input-error {
  color: #ee3465;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

.profile__button-container {
  display: flex;
  row-gap: 16px;
  flex-direction: column;
  align-items: center;
}

.profile__button {
  padding: 0;
  background: none;
  border: none;
  font-size: 13px;
  font-style: normal;
  line-height: 1.2;
  cursor: pointer;
  transition: 0.2s;
}

.profile__button:hover {
  opacity: 0.8;
}

.profile__button_action_edit {
  font-weight: 400;
  color: #fff;
}

.profile__button_action_save {
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  margin: 0;
  padding: 0;
  width: 410px;
  height: 45px; 
  border: none;
  border-radius: 3px;
  background: #4285f4;
}

.profile__button_action_logout {
  color: #ee3465;
  font-weight: 500;
}

.profile__button_disabled {
  cursor: default;
  color: #c2c2c2;
  background: #f8f8f8;
}

@media screen and (max-width: 1023px) {
  .profile__form {
    margin: 96px auto 0;
    min-height: 320px;
  }

  .profile__title {
    margin: 236px 0 0;
  }

  .profile__button-container {
    bottom: 26%;
  }
}

@media screen and (max-width: 450px) {
  .profile__form {
    margin: 80px auto 0;
    min-height: 487px;
  }

  .profile__title {
    margin: 70px 0 0;
  }

  .profile__label {
    width: 260px;
  }

  .profile__button {
    font-size: 12px;
  }

  .profile__button-container {
    bottom: 5%;
  }

  .profile__button_action_save {
    width: 260px;
  }
}
