.burger__button {
  display: none;
  visibility: hidden;
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  padding: 0;
}

.burger__image {
  size: 100%;
}

@media screen and (max-width: 1023px) {
  .burger__button {
    position: fixed;
    right: 18px;
    top: 18px;
    display: flex;
    visibility: visible;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
}

@media screen and (max-width: 425px) {
  .burger__button {
    right: 8px;
    top: 8px;
  }
}
