.burger {
  display: none;
  visibility: hidden;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: 0.2s;
}

.burger:hover {
  opacity: 0.8;
}

.burger__image {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 768px) {
  .burger {
    display: flex;
    visibility: visible;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .burger_close {
    margin: 14px 14px 0 0;
  }
}

@media screen and (max-width: 425px) {
  .burger__image {
    width: 44px;
    height: 44px;
  }
}
