.nav-tab {
  list-style-type: none;
  display: flex;
  column-gap: 10px;
  padding: 0 0 30px;
  justify-content: center;
  margin: 0;
}

.nav-tab__link {
  text-decoration: none;
  transition: 0.2s;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #fff;
  background: #303030;
  width: 96px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.nav-tab__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 425px) {
  .nav-tab {
    padding: 0 0 17px;
    column-gap: 6px;
  }

  .nav-tab__link {
    font-size: 10px;
    line-height: 1.6;
    width: 82px;
    height: 26px;
    border-radius: 6px;
  }
}
